<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <h1>{%block pagetitle %}{%endblock%}</h1>
    <div id="content">{% block content %}{% endblock %}</div>

    <div class="bottom-nav pos-absolute">
        <a class="button" href="/grants">
            <span class="icon mif-plus"></span>
            <span class="label">List of Grants</span>
        </a>
        <button class="button">
            <span class="icon mif-favorite"></span>
            <span class="label">Favorites</span>
        </button>
        <button class="button">
            <span class="icon mif-search"></span>
            <span class="label">Search</span>
        </button>
    </div>

    <div id="footer">{% block footer %} {% endblock %}</div>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  </body>
</html>
