{% extends "base.jinja" %} 

{% block title %}Grants{% endblock %} 

{% block head %}
{{ super() }} 
{% endblock %} 

{%block pagetitle %} Grant {{grant.name}} {%endblock%}

{% block content %}

<div class="uk-child-width-expand@s" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
                <h3>Grant {{ grant.name }}</h3>

                <p>
                    {{ grant.shares }} {{ grant.kind if  grant.kind == "RSU" else grant.kind.title() }}s
                    <br/>Granted on {{ grant.date.date() }}
                    <br/>Vesting in {{ grant.vesting }} years {% if grant.cliff != 0 %} with {{ grant.cliff }} years cliff {% endif %}
                    {% if grant.kind == "OPTION" %}<br/> with a strike price of {{ grant.strike }} USD. {% endif %}                    
                </p>
        </div>
    </div>
</div>

<div class="uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            <h3>Vesting Schedule </h3> 
            <table class="uk-table uk-table-small uk-table-divider uk-table-hover">
                <caption> </caption>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Vested Shares</th>
                        <th>Unvested Shares</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in schedule.itertuples() %}
                    <tr>
                        <td>{{ row.Index.date() }}</td>
                        <td>{{ row.vested }}</td>
                        <td>{{ row.unvested }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-card-body">
            {% if plot != None %}
                <img src="data:image/png;base64,{{ plot }}" width="780" height="1024"\>
            {% endif %}
        </div>
    </div>
</div>



{% endblock %}

