{% extends "base.jinja" %} 

{% block title %}Grants{% endblock %} 

{% block head %}
{{ super() }} 
{% endblock %} 

{%block pagetitle %} Grant {{grant.name}} {%endblock%}

{% block content %}


<div class="uk-section uk-section-muted">
    <div class="uk-container">

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>

            <h3>Grant {{ grant.name }}</h3>

            <div><p>
                {{ grant.shares }} {{ grant.kind if  grant.kind == "RSU" else grant.kind.title() }}s
                <br/>Granted on {{ grant.date.date() }}
                <br/>Vesting in {{ grant.vesting }} years {% if grant.cliff != 0 %} with {{ grant.cliff }} years cliff {% endif %}
            </p></div>
        </div>

    </div>
</div>



{% endblock %}

