{% extends "base.jinja" %} 

{% block title %}Grants{% endblock %} 

{% block head %}
{{ super() }} 
{% endblock %} 

{%block pagetitle %}List of Grants {%endblock%}

{% block content %}
<div class="grid">
<div class="row"> 
<table class="uk-table uk-table-small uk-table-divider uk-table-hover">
    <thead>
        <tr>
            <th>Grant Name</th>
            <th>Kind</th>
            <th>Grant date</th>
            <th>Number of Shares</th>
            <th>Vesting</th>
        </tr>
    </thead>
    <tbody>
        {% for grant in grants %}
        <tr>
            <td class="grant-name uk-table-link">
                <a class="uk-link-reset" href={{ url_for("grants.grant", name=grant.name) }}> {{ grant.name }} </a>
            </td>
            <td>{{ grant.kind }}</td>
            <td>{{ grant.date.date() }}</td>
            <td>{{ grant.shares }}</td>
            <td>{{ grant.vesting }} years {% if grant.cliff != 0 %} with {{ grant.cliff }} years cliff {% endif %} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}

